In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import svm

In [2]:
data = pd.read_csv("final_clean_data.csv")

In [3]:
data.head()

,Unnamed: 0,Company_Name,Dependent.Company.Status,Number.of.Co.founders,Number.of.of.advisors,Team.size.Senior.leadership,Number.of.of.repeat.investors,Focus.functions.of.company,Average.size.of.companies.worked.for.in.the.past,Product.or.service.company.,Focus.on.private.or.public.data.,Cloud.or.platform.based.serive.product.,Local.or.global.player,Worked.in.top.companies,Focus.on.consumer.data.,Crowdfunding.based.business,Machine.Learning.based.business
0,1,COMPANY1,SUCCESS,1,2,2,4,1.000000e+52,SMALL,SERVICE,PRIVATE,PLATFORM,GLOBAL,NO,NO,NO,NO
1,2,COMPANY2,SUCCESS,2,0,4,0,1.000000e+64,LARGE,PRODUCT,PUBLIC,PLATFORM,LOCAL,YES,YES,NO,YES
2,3,COMPANY3,SUCCESS,3,0,7,0,1.000000e+52,MEDIUM,BOTH,PRIVATE,CLOUD,LOCAL,YES,YES,NO,NO
3,4,COMPANY4,SUCCESS,2,0,4,0,1.000000e+64,LARGE,PRODUCT,PUBLIC,PLATFORM,LOCAL,NO,YES,NO,NO
4,5,COMPANY5,SUCCESS,1,1,8,0,1.000000e+64,SMALL,PRODUCT,PUBLIC,PLATFORM,LOCAL,NO,YES,NO,NO

In [4]:
le = LabelEncoder()

In [5]:
le.fit([y for x in data.get_values() for y in x])

LabelEncoder()

In [6]:
le.transform([data.get_value(0, data.columns[0])])

array([2])

In [7]:
del data['Unnamed: 0']

In [8]:
data['Average.size.of.companies.worked.for.in.the.past'] = le.fit_transform(data['Average.size.of.companies.worked.for.in.the.past'])
data['Product.or.service.company.'] = le.fit_transform(data['Product.or.service.company.'])
data['Focus.on.private.or.public.data.'] = le.fit_transform(data['Focus.on.private.or.public.data.'])
data['Cloud.or.platform.based.serive.product.'] = le.fit_transform(data['Cloud.or.platform.based.serive.product.'])
data['Local.or.global.player'] = le.fit_transform(data['Local.or.global.player'])
data['Worked.in.top.companies'] = le.fit_transform(data['Worked.in.top.companies'])
data['Focus.on.consumer.data.'] = le.fit_transform(data['Focus.on.consumer.data.'])
data['Crowdfunding.based.business'] = le.fit_transform(data['Crowdfunding.based.business'])
data['Machine.Learning.based.business'] = le.fit_transform(data['Machine.Learning.based.business'])
data['Dependent.Company.Status'] = le.fit_transform(data['Dependent.Company.Status'])

In [9]:
data.head()

,Company_Name,Dependent.Company.Status,Number.of.Co.founders,Number.of.of.advisors,Team.size.Senior.leadership,Number.of.of.repeat.investors,Focus.functions.of.company,Average.size.of.companies.worked.for.in.the.past,Product.or.service.company.,Focus.on.private.or.public.data.,Cloud.or.platform.based.serive.product.,Local.or.global.player,Worked.in.top.companies,Focus.on.consumer.data.,Crowdfunding.based.business,Machine.Learning.based.business
0,COMPANY1,1,1,2,2,4,1.000000e+52,2,2,2,3,0,0,0,0,0
1,COMPANY2,1,2,0,4,0,1.000000e+64,0,1,3,3,1,1,1,0,1
2,COMPANY3,1,3,0,7,0,1.000000e+52,1,0,2,1,1,1,1,0,0
3,COMPANY4,1,2,0,4,0,1.000000e+64,0,1,3,3,1,0,1,0,0
4,COMPANY5,1,1,1,8,0,1.000000e+64,2,1,3,3,1,0,1,0,0

In [10]:
del data['Company_Name']

In [11]:
target = data['Dependent.Company.Status']
del data['Dependent.Company.Status']
data.head()

,Number.of.Co.founders,Number.of.of.advisors,Team.size.Senior.leadership,Number.of.of.repeat.investors,Focus.functions.of.company,Average.size.of.companies.worked.for.in.the.past,Product.or.service.company.,Focus.on.private.or.public.data.,Cloud.or.platform.based.serive.product.,Local.or.global.player,Worked.in.top.companies,Focus.on.consumer.data.,Crowdfunding.based.business,Machine.Learning.based.business
0,1,2,2,4,1.000000e+52,2,2,2,3,0,0,0,0,0
1,2,0,4,0,1.000000e+64,0,1,3,3,1,1,1,0,1
2,3,0,7,0,1.000000e+52,1,0,2,1,1,1,1,0,0
3,2,0,4,0,1.000000e+64,0,1,3,3,1,0,1,0,0
4,1,1,8,0,1.000000e+64,2,1,3,3,1,0,1,0,0

In [12]:
del data['Focus.functions.of.company']
data.head()

,Number.of.Co.founders,Number.of.of.advisors,Team.size.Senior.leadership,Number.of.of.repeat.investors,Average.size.of.companies.worked.for.in.the.past,Product.or.service.company.,Focus.on.private.or.public.data.,Cloud.or.platform.based.serive.product.,Local.or.global.player,Worked.in.top.companies,Focus.on.consumer.data.,Crowdfunding.based.business,Machine.Learning.based.business
0,1,2,2,4,2,2,2,3,0,0,0,0,0
1,2,0,4,0,0,1,3,3,1,1,1,0,1
2,3,0,7,0,1,0,2,1,1,1,1,0,0
3,2,0,4,0,0,1,3,3,1,0,1,0,0
4,1,1,8,0,2,1,3,3,1,0,1,0,0

In [13]:
from sklearn import datasets,svm , metrics,cross_validation
clf = svm.SVC(kernel ='linear',C=5)     #SVC is cupport vector classifier
X_train,X_test, Y_train,Y_test = cross_validation.train_test_split(data,target,test_size = 0.2)
X_train.shape
clf.fit(X_train,Y_train)
prediction = clf.predict(X_test)
clf.score(X_test,Y_test)

/Users/DBRSJ/anaconda/envs/tf_env/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

0.81818181818181823

In [14]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
X_train,X_test, Y_train,Y_test = cross_validation.train_test_split(data,target,test_size = 0.2)
X_train.shape
clf.fit(X_train,Y_train)
prediction = clf.predict(X_test)
clf.score(X_test,Y_test)

0.70454545454545459

In [16]:
clf = svm.SVC(kernel ='rbf',C=5)     #SVC is cupport vector classifier
X_train,X_test, Y_train,Y_test = cross_validation.train_test_split(data,target,test_size = 0.2)
X_train.shape
clf.fit(X_train,Y_train)
prediction = clf.predict(X_test)
clf.score(X_test,Y_test)

0.80681818181818177